*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-size:20px;
    overflow-x:hidden;
    color:#fff;
    font-family: 'Kaisei HarunoUmi', serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url("bkgd.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
}
.clearfix:after{
    content:".";
    visibility: hidden;
    display:block;
    height:0px;
    clear:both;
}
.row{
    max-width:1180px;
    margin:0 auto;
}
.logo{
    height:120px;
    width:auto;
    float:left;
    margin-top :30px;
}
.main-nav{
    float:right;
    margin-top:60px
}
.main-nav li{
    display:inline-block;
    list-style:none;
    margin-left:49px;
}
.main-nav li a{
    padding: 5px 0;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:90%;
    font-weight:100;
}
.main-nav li a:hover{
    border-bottom:2px solid #9d74af;
}
.main-heck{
    width:1180px;
    position:absolute;
    top:60%;
    left:50%;
    transform : translate(-50%, -50%);
}
h1{
  color:#fff;
  font-size:240%;
  word-spacing:5px;
  letter-spacing:3px;
  margin-bottom:20px;
  text-transform:uppercase;
  font-weight:lighter;
}
.btn{
    display:inline-block;
    padding:10px 30px;
    font-weight:lighter;
    text-decoration:none;
    text-transform: uppercase;
    border-radius:200px;
    transition: background-color 0.2%, border 0.2%, color 0.2%;
}
.btn-full{
    background-color: transparent;
    color:#bf55ec;
    margin-right:15px;
    border: 1px solid #8811bb;
}
.btn-full:hover{
    background:#fff;
}
.btn-nav:hover{
    background-color:#bf55ec;
}
.btn-nav{
    background-color: transparent;
    color:#fff;
    border: 1px solid #fff;

}
.changecolor{
    animation: changecolortea 1s infinite;
}
@keyframes changecolortea{
    0%{color:blueviolet;}
    25%{color:chocolate;}
    50%{color:#fff;}
    100%{color:rgb(48, 69, 184);}
}
.mobile-option{
    display:none;
}
/* responsive query*/
@media only screen and (max-width:1180px){
    .main-heck{
        width:100%;
        padding:0 2%;
    }
}
@media only screen and (max-width:998px){
    h1{font-size:200%;
       }

}
@media only screen and (max-width:700px){
    h1{font-size:180%;   }
    .main-nav{
        display:none;
        
        margin-left: 10px;
    }
    .mobile-option{
        display:inline-block;
        color:#fff;
        float:right;
        margin-right:20px;
        margin-top:30px;
    }
    .main-nav{
        float:left;
        margin-top:20px;
    }
    .main-nav li{
        
        display:block;
        margin-top:10px;
    }
    .btn-full{
        margin-bottom:20px;
    }
    
}
@media only screen and (max-width:400px){
    h1{font-size:120%;
     margin-top:159%;}
    .mobile-option{
        display:inline-block;
        color:#fff;
        float:right;
        margin-right:20px;
        margin-top:30px;
    }
}
